{% extends "base.html" %}
{% block title %} Welcome to Banded Stilts -  Albums {% endblock %}
{% block tags %} Albums Little Village By the Back Stair Music  {% endblock %}
{% block content %}

       <br>For your listening pleasure...<br>
        <table class="table-condensed" >
            {% for album in albums %}
              <tr>
                  <td width="130px">
                      <div id="gigDate">
                        {{ album.title|safe }}<br>{{ album.type }}<br><br>


    {% comment %}
    title                   =   models.CharField(max_length=200)
    type                    =   models.CharField(max_length=2,choices=ALBUM_CHOICES)
    date                    =   models.DateField(max_length=200, default=datetime.now())
    image                   =   models.URLField(blank=True)
    displayComments         =   models.CharField(max_length=1,choices=YESNO_CHOICES,default='NO')
    albumComments           =   models.TextField(blank=True)

class Song(models.Model):
    title                   = models.CharField(max_length=200)
    album                   = models.ForeignKey('Album')
    trackNumber             = models.IntegerField(blank=True, null=True)
    lyrics                  = models.TextField(blank=True)
    musicians               = models.CharField(max_length=200,blank=True)
    displayComments         = models.CharField(max_length=1,choices=YESNO_CHOICES,default='NO')
    comments                = models.TextField(blank=True)
    video                   = EmbedVideoField(blank=True)  # same like models.URLField()
    html5  {% endcomment %}

                      </div>
                  </td>
                </tr>
            {% endfor %}
        </table>



    <br><br><br><br><br><br><br><br>

{% endblock %}



