{% extends "base.html" %}
{% block title %} Welcome to Banded Stilts -  Blog {% endblock %}
{% block tags %} Blog  {% endblock %}
{% block content %}
<div id="Blog">

            {% for blog in blogs %}
                {% if blog.displayBlog == "Y" %}
                            <p>
                                 <div id="BlogTitle"><a href="/blog/{{ blog.id }}/">{{ blog.title }}</a></div>
                                 <div id="BlogDate">{{ blog.blogTime }}</div>
                                 <div id="BlogContent">{{ blog.content|slice:":360"|safe }}  <a href="/blog/{{ blog.id }}/" style="font-size: 8"> (more)</a></div>
                            </p>

                {% endif %}
        {%  endfor %}

<a href="/blog_archive/">View Blog Archive</a>
</div>
{% endblock %}
