{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>hfch</title>
     	</head>
	<body>

        <div id="widget">
	<h1>CSS<span class="highlight">Deck</span></h1>

	<ul class="menu">
		<li><a href="javascript:void(0);">Experiments</a></li>
		<li><a href="javascript:void(0);">Demos</a></li>
		<li><a href="javascript:void(0);">iPhone &amp; iPad</a></li>
		<li><a href="javascript:void(0);">Labs</a></li>
		<li><a href="javascript:void(0);">Enterprise Grade</a></li>
	</ul>

	<!-- Just some controls. You can add more :) -->
	<ul class="controls">
		<li class="call"><a href="javascript:void(0);">✆</a></li>
	</ul>
</div>
	</body>
</html>