<nav>
    <div class="MenuContent">
            <li><a href="/">Home</a></li>
            <li><a href="/listen/" class="dontshowphone" >Listen</a></li>
            <li><a href="/mplayer/" class="dontshowcomputer" target="_self">Listen</a></li>
            <li><a href="/video/" class="dontshowphone" >Video</a></li>
            <li><a href="/gallery/" >Gallery</a></li>
            <li><a href="/bio/" >Bio</a></li>
            <li><a href="/gigs/">Shows</a></li>
            <li><a href="/press/">Press</a></li>
            <li><a href="/contact/">Contact</a></li>
        </ul>
    </div>
</nav>