<!DOCTYPE html>
<html>
    <head>
        <title>Banded Stilts Music</title>


        <link rel="shortcut icon" type="image/x-icon" href="https://s3.amazonaws.com/bandedstilts/static/images/favicon.ico">

{% comment %}
<link href="{% static "css/main.less" %}" rel="stylesheet/less" type="text/css"  media="screen" />
 <script src="{% static "js/less-1.5.0.min.js" %}" type="text/javascript"></script>

{% endcomment %}
<link href="https://s3.amazonaws.com/bandedstilts/css/smartphone640.css" rel="stylesheet" type="text/css" />



<meta name="viewport" content="width=device-width, user-scalable=no, maximum-scale=1, initial-scale=1">
        <meta name="keywords" content="BandedStilts music Halifax Newfoundland {% block tags %} Steve Haley Brad Lannon Squid Ghost Town {% endblock %}">
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <meta name="description" content="Welcome to BandedStilts - The new debut album 'Little Village' is now available for listen and purchase. Please check out our 'shows' page to see when we will be in your area.">
	</head>

    <body id="body">
    <div id="body">
<a href="http://www.bandedstilts.com/"><h1>BACK</h1></a><br>


<iframe style="border: 0; width: 300px; height: 759px;" src="http://bandcamp.com/EmbeddedPlayer/album=3011129193/size=large/bgcol=333333/linkcol=e99708/transparent=true/" seamless><a href="http://bandedstilts.bandcamp.com/album/little-village">Little Village by Banded Stilts</a></iframe>

</div>
    </body>

</html>
