<div id="Facebook" onclick="window.open('https://www.facebook.com/pages/Banded-Stilts/159772757386679','mywindow');" style="cursor: hand;"></div>
<div id="Twitter" onclick="window.open('https://twitter.com/BandedStilts','mywindow');" style="cursor: hand;"></div>
<div id="Google" onclick="window.open('https://www.google.ca/search?q=banded+stilts','mywindow');" style="cursor: hand;"></div>
<a href="mailto:booking@bandedstilts.com"><div id="Email"></div></a>
<div id="TwitterPL"></div>
<div id="FacebookPL"></div>
<div id="EmailPL"></div>
<div id="GooglePL"></div>